annotated-doc
annotated-types
anyio
click
dnspython
email-validator
exceptiongroup
fastapi
h11
httptools
idna
pydantic
pydantic_core
python-dotenv
PyYAML
starlette
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
gunicorn
httpx